ENVIRONMENT=development
COMPOSE_PROJECT_NAME=moodle-dev

# PostgreSQL
PGSQL_HOST=postgres
PGSQL_DATABASE=moodle_dev
PGSQL_USER=moodleuser_dev
PGSQL_PASSWORD=your_password_here

# Moodle
MOODLE_WWWROOT=http://localhost

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin123

# Production only
GITHUB_OWNER=your_github_username


# #environment specifc
# ENVIRONMENT=
# COMPOSE_PROJECT_NAME=

# #Postgres
# POSTGRES_DB=
# POSTGRES_USER=

# #moodle db
# PGSQL_DATABASE=
# PGSQL_USER=
# PGSQL_HOST=


# MOODLE_WWWROOT="http://example.com"

# PGADMIN_DEFAULT_EMAIL=
# PGADMIN_DEFAULT_PASSWORD=

