#environment specifc
ENVIRONMENT=
COMPOSE_PROJECT_NAME=

#Postgres
POSTGRES_DB=
POSTGRES_USER=

#moodle db
PGSQL_DATABASE=
PGSQL_USER=
PGSQL_HOST=


MOODLE_WWWROOT="http://example.com"

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

